name: Test

on: 
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main

jobs:
  Testing:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
         pip install -r requirement.txt

      - name: Run tests
        run: |
          pytest
          
  deploy:
    needs: Testing
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy application
        run: echo "Deployment successful!"
